*

!.gitignore
!README.md
!LICENSE

!flake.lock
!flake.nix

!gleam.toml
!manifest.toml

!src/
!src/*.gleam
!src/canvas/
!src/canvas/*.gleam

# release building
!lib/
!lib/cgq.ex
!mix.exs
!mix.lock
!deps.nix
